.about {
  .hero {
    user-select: none;
    background: $black-bright url("../../assets/img/about.png");
    background-size: cover;
    position: relative;
    color: $light-bright;
    .container {
      padding: 6.9em 2em;
      @include media("<=md") {
        padding: 5em 1em;
      }
      h1 {
        margin: auto;
        max-width: 80vw;
        font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
          "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
        color: white;
        font-weight: 700;
        font-size: 5em;
        border-top: 4px white solid;
        border-bottom: 4px white solid;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2em;
      background: $black;
      opacity: 0.3;
      z-index: 1;
    }
  }
  .section-header {
    padding-top: 2.5em;
    position: relative;
    margin-bottom: 1.5em;
    h1 {
      font-size: 3em;
      font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    }
    &::after {
      content: "";
      display: block;
      text-align: center;
      width: 3em;
      height: 0.55em;
      background-color: $theme;
      margin: 1em auto 2em auto;
    }
  }
  /*--------------------------------------------------------------
  # Team
  --------------------------------------------------------------*/
  .team {
    padding-bottom: 2.5em;
    .member {
      margin-bottom: 20px;
      overflow: hidden;
      border-radius: 4px;
      background: #fff;
      box-shadow: 0px 2px 15px rgba(0, 20, 51, 0.21);
      .member-img {
        background: $black-bright;
        position: relative;
        overflow: hidden;
      }
      .member-info {
        padding: 25px 15px;
        h4 {
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 18px;
          color: $black;
        }
        p {
          font-style: italic;
          font-size: 14px;
          line-height: 26px;
          color: $gray;
        }
        span {
          display: block;
          font-size: 13px;
          font-weight: 400;
          color: $gray;
        }
      }
      .social {
        position: absolute;
        left: 0;
        bottom: 30px;
        right: 0;
        opacity: 0;
        transition: ease-in-out 0.3s;
        text-align: center;
        a {
          transition: color 0.3s;
          color: $black;
          margin: 0 3px;
          padding-top: 7px;
          border-radius: 4px;
          width: 36px;
          height: 36px;
          background: $theme-bright-translucent;
          display: inline-block;
          transition: ease-in-out 0.3s;
          color: $light-bright;
          &:hover {
            background: $theme-bright;
          }
          i {
            font-size: 18px;
          }
        }
      }

      &:hover .social {
        opacity: 1;
        bottom: 15px;
      }
      // @include media("<=sm") {
      //   .social {
      //     opacity: 1;
      //     bottom: 15px;
      //   }
      // }
    }
  }
}
