.chapters {
  .action-btn {
    background-color: $gray-dark;
    color: $light-bright;
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.69));
    &:hover {
      border: 0;
      filter: drop-shadow(7px 9px 0 rgba(0, 0, 0, 0.6));
    }
    &.main-action {
      background-color: $theme;
      &:hover {
        background-color: $theme-bright;
      }
    }
  }
}
