.footer {
  background-color: $black;
  color: $light-bright;
  padding: 2.5em 0 1em 0;
  transition: 0.55s ease;

  .social {
    font-size: 2em;
    a {
      padding: 0;
    }
    * {
      padding: 0 0.2em;
    }
    .fa {
      transition: 0.42s ease-in-out;
      &:hover {
        cursor: pointer;
        color: $gray;
      }
    }
  }

  a {
    color: $light-bright;
  }

  .email {
    font-size: 1.3em;
    color: white;
    line-height: 1.1;
  }

  .copyright {
    font-family: "Courgette", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    color: $gray;
  }
}
