.gallery {
  h1 {
    padding: 1em 0 0 0;
    font-weight: 800;
    color: white;
    @include media("<=lg") {
      font-size: 2.2em;
    }
  }
  h2 {
    font-size: 1.8em;
    padding: 0.25em 0 0 0;
    color: $gray-bright;
    @include media("<=lg") {
      font-size: 1.6em;
    }
  }

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
    justify-content: center;
    .blm-column {
      flex: 1 40%;
      .section {
        position: relative;
        min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
        padding-top: 2em;
      }
    }
    .rest-column {
      display: flex;
      flex-flow: column nowrap;
      min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
      flex: 1 60%;
      .submit-row {
        user-select: none;
        background-color: $theme-darker;
        text-align: center;
        padding: 1em;
        h1 {
          padding: 0;
        }
        .action-btn {
          background-color: $theme-bright;
          color: $light-bright;
          filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.69));
          &:hover {
            background-color: $theme-brighter;
            filter: drop-shadow(7px 9px 0 rgba(0, 0, 0, 0.55));
          }
        }
      }
      .art-sections {
        display: flex;
        flex-flow: column nowrap;
        flex: 4;
        .row1 {
          display: flex;
          flex: 1;
          .visualarts {
            flex: 0 50%;
            display: flex;
          }
          .creativewriting {
            flex: 0 50%;
          }
        }
        .row2 {
          display: flex;
          flex: 1;
          .photography {
            flex: 0 50%;
          }
          .music {
            flex: 0 50%;
          }
        }
      }
    }
  }

  .section {
    position: relative;
    padding: 0 2em;
    overflow: hidden;
    user-select: none;
    .section-bg {
      background: $black-bright;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      width: 100%;
      object-fit: cover;
      transition: all 0.55s ease-in-out;
      filter: brightness(75%);
      transform: scale3d(1.01, 1.01, 1.01);
    }
    &:hover {
      cursor: pointer;
      .section-bg {
        transform: scale3d(1.035, 1.035, 1.035) rotate(0.2deg);
        filter: brightness(100%);
      }
    }
  }
}
