.gallery {
  @include media("<sm") {
    .smallContainer {
      display: block;
    }
    .largeContainer {
      display: none;
    }
  }
  @include media(">=sm") {
    .smallContainer {
      display: none;
    }
    .largeContainer {
      display: block;
    }
  }

  @media screen and (max-height: 540px) and (orientation: landscape) {
    .smallContainer {
      display: block;
    }
    .largeContainer {
      display: none;
    }
  }
  h1 {
    padding: 1em 0 0 0;
    font-weight: 800;
    color: white;
    @include media("<=lg") {
      font-size: 2.2em;
    }
  }
  h2 {
    font-size: 1.8em;
    padding: 0.25em 0 0 0;
    color: $gray-bright;
    @include media("<=lg") {
      font-size: 1.6em;
    }
    @include media("<=sm") {
      display: none;
    }
    @media screen and (max-height: 540px) and (orientation: landscape) {
      display: none;
    }
  }

  .content-container {
    display: flex;
    align-items: center;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
    justify-content: center;
    .blm-column {
      flex: 1 40%;
      .section {
        position: relative;
        min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
        padding-top: 2em;
        a {
          display: block;
          min-height: 75vh;
        }
      }
    }
    .rest-column {
      display: flex;
      flex-flow: column nowrap;
      min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
      flex: 1 60%;
    }
    .submit {
      user-select: none;
      text-align: center;
      padding: 1em;
      background-color: $theme-darker;
      h1 {
        padding: 0;
      }
      .action-btn {
        background-color: $theme-bright;
        color: $light-bright;
        filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.69));
        &:hover {
          background-color: $theme-brighter;
          filter: drop-shadow(7px 9px 0 rgba(0, 0, 0, 0.55));
        }
      }
    }

    .art-sections {
      display: flex;
      flex-flow: column nowrap;
      flex: 4;
      .row1 {
        display: flex;
        flex: 1;
        .visualarts {
          flex: 0 50%;
          display: flex;
        }
        .creativewriting {
          flex: 0 50%;
        }
      }
      .row2 {
        display: flex;
        flex: 1;
        .photography {
          flex: 0 50%;
        }
        .music {
          flex: 0 50%;
        }
      }
    }
  }

  .submit {
    @include media("<=sm") {
      user-select: none;
      text-align: center;
      padding: 2em 1em;
      background-color: $theme-darker;
      h1 {
        padding: 0;
      }
      h4 {
        color: $gray-bright;
      }
      .action-btn {
        background-color: $theme-bright;
        color: $light-bright;
        filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.69));
        &:hover {
          background-color: $theme-brighter;
          filter: drop-shadow(7px 9px 0 rgba(0, 0, 0, 0.55));
        }
      }
    }
    @media screen and (max-height: 540px) and (orientation: landscape) {
      user-select: none;
      text-align: center;
      padding: 2em 1em;
      background-color: $theme-darker;
      h1 {
        padding: 0;
      }
      h4 {
        color: $gray-bright;
      }
      .action-btn {
        background-color: $theme-bright;
        color: $light-bright;
        filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.69));
        &:hover {
          background-color: $theme-brighter;
          filter: drop-shadow(7px 9px 0 rgba(0, 0, 0, 0.55));
        }
      }
    }
  }

  .section {
    position: relative;
    padding: 0 2em;
    overflow: hidden;
    user-select: none;
    @include media("<=sm") {
      padding: 5em 2.5em;
      min-height: 33vh;
      h1 {
        padding: 0;
      }
    }

    @media screen and (max-height: 540px) and (orientation: landscape) {
      min-height: 50vh;
      padding: 3.3em 1.5em;
      h1 {
        padding: 0;
      }
    }
    .section-bg {
      background: $black-bright;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      width: 100%;
      object-fit: cover;
      transition: all 0.55s ease-in-out;
      filter: brightness(75%);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    &:hover {
      cursor: pointer;
      .section-bg {
        transform: scale3d(1.045, 1.045, 1.045) rotate(0.2deg);
        filter: brightness(100%);
      }
    }
  }
}
