.gallery {
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
    justify-content: center;
    .blm-column {
      min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
      flex: 1 40%;
      color: $light-bright;
      padding: 1.5em;
      position: relative;
      h1 {
        padding: 1em 0 0 0;
        font-weight: 800;
      }
      h2 {
        padding: 0.25em 0 0 0;
        color: $gray-bright;
      }
    }
    .rest-column {
      display: flex;
      flex-flow: column nowrap;
      min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
      flex: 1 60%;
      .submit-row {
        flex: 1;
      }
      .art-sections {
        display: flex;
        flex-flow: column nowrap;
        flex: 3;
        .row1 {
          display: flex;
          flex: 1;
          .visual-arts {
            flex: 0 50%;
          }
          .creative-writing {
            flex: 0 50%;
          }
        }
        .row2 {
          display: flex;
          flex: 1;
          .photography {
            flex: 0 50%;
          }
          .music {
            flex: 0 50%;
          }
        }
      }
    }
  }

  .section {
    overflow: hidden;
    position: relative;
    .section-bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      width: 100%;
      object-fit: cover;
      transition: 0.75s ease-in-out;
      filter: brightness(75%);
    }
    &:hover {
      cursor: pointer;
      .section-bg {
        transform: scale(1.1) rotate(1deg);
        filter: brightness(100%);
      }
    }
  }
}
