@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&family=Sora:wght@400;500&family=Ubuntu:wght@700&display=swap&family=Courgette&display=swap");
@import "./breakpoints.scss";
@import "./variables.scss";
@import "./pages/header.scss";
@import "./pages/home.scss";
@import "./overlay.scss";
@import "./pages/footer.scss";
@import "./pages/gallery.scss";

*::selection {
  background-color: $gray-bright;
}

body {
  visibility: hidden;
  background: $light-bright;
  margin: 0;
  font-family: "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a,
button,
div[role="link"] {
  text-decoration: none;
  outline: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include media("<=md") {
    cursor: default;
  }
  @media screen and (max-height: 540px) and (orientation: landscape) {
    cursor: default;
  }
  &:hover {
    cursor: pointer;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

// scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray-bright;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme;
  transition: all 0.55s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-bright;
}

.page {
  min-height: calc(calc(var(--vh, 1vh) * 100) - 62px);
  margin-top: 62px;
}

.action-btn {
  font-size: 1.5em;
  padding: 0.3em 1em;
  border-radius: 2px;
  font-weight: 500;
  transition: 0.21s ease;
  position: relative;
  text-decoration: none;
  display: inline-block;
  &:hover {
    transform: translateY(-3px);
    text-decoration: none;
  }
  &.main-action {
    &:hover {
      transform: translateY(-3px);
    }
  }
}
