// variables
$black-bright: #152828;
$black: hsla(180, 30%, 5%, 1);
$black-dark: #070d0d;
$gray-bright: #d0dcda;
$gray: rgb(128, 143, 141);
$gray-dark: #727e7c;
$light-bright: #fbfcee;
$light: rgb(249, 252, 215);
$light-dark: #b4976a;
$theme-brightest: #ff7674;
$theme-brighter: rgb(231, 50, 47);
$theme-bright: #c22c29;
$theme-bright-translucent: #c22b29d5;
$theme: hsla(1, 66%, 39%, 1);
$theme-darker: #871e1c;
$theme-darkest: #661615;
