// variables
$black-bright: #152828;
$black: hsla(180, 30%, 5%, 1);
$black-dark: #070d0d;
$gray-brightest: #e5ebea;
$gray-bright: #dcd4d0;
$gray: rgb(128, 143, 141);
$gray-dark: #727e7c;
$light-bright: #fbfcee;
$light: rgb(249, 252, 215);
$light-dark: #b4976a;
$theme-brightest: #c2d8b9;
$theme-brighter: #c2d8b9;
$theme-bright: #4b6f90;
$theme-bright-translucent: #4b6f90d8;
$theme: #3d5d7a;
$theme-darker: #334d66;
$theme-darkest: #263a4d;
